.custom-snackbar {
  position: fixed;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
}

.custom-snackbar.open {
  top: 20px;
  opacity: 1;
}

.custom-snackbar.error {
  background-color: #d9534f;
}

.custom-snackbar.success {
  background-color: #5bc0de;
}

.message {
  margin-right: 10px;
}
